# CREATE .env.development.local file ad add the following variables

PORT=5050
HOST=127.0.0.1
LOG_TO_FILE=true
CORS_ORIGIN=
NODE_ENV=development
MONGO_URI=mongo uri
ACCESS_TOKEN_SECRET=aws token secret
REFRESH_TOKEN_SECRET=refresh token secret
EMAIL=
PASSWORD=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
REFRESH_TOKEN_LIFETIME=
RAZOR_PAY_KEY=
RAZOR_PAY_SECRET=
OPENAI_API_KEY=
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY=
CLIENT_EMAIL=
CLIENT_ID=
AUTH_URI=
TOKEN_URI=
AUTH_PROVIDER=
CLIENT=
UNIVERSE_DOMAIN=
GOOGLE_CLIENT_ID=for google auth
